# Dependencies
node_modules/

# Production
dist/
build/

# Misc
.DS_Store
.env
.env.local
.npmrc
*.log

# Testing
coverage/

# IDEs
.vscode/settings.json
.idea/

# Temporary / Generated
_all_code_context.txt
